.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
.miami-font{
    font-family: 'Miama', sans-serif;
    font-family: 120px;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
}

/* Shared styles */
.image-card-tags-styles{
    /* margin-left: 100px; */
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    /* text-align: left; */
}
.image-card-paragraph-styles
{
color: rgba(255, 255, 255, 0.5);
font-size: 12px;
font-weight: 300;
/* text-align: center; */
}
.card-all-div-styles{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}





/* Header part styles */
header{
    margin-left: 20px;
}

/* nav related styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(54,52,56)100%);

}
.header-tag-styles{
        justify-content: space-between;
        color: rgb(230, 83, 60);
        text-align: left;
        font-size: 24px;
        font-weight: 600;   
}
nav ul{
    display: flex;
     align-items: center;
    
}
nav ul li{
    list-style: none;
   margin-right: 20px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
color: rgb(255, 255, 255);
background-color: rgb(230, 83, 60);
padding: 8px 10px 8px 10px ;
border-radius: 40px;
font-size: 12px;
font-weight: 300;
text-align: left;
}
.list-anchor-style {
    list-style: none;
    display: flex;
    gap: 40px;

}
.fitboy-image{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.program-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}
.download-app{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid whitesmoke;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.fitness-header-tag{
color: rgb(255, 255, 255);
font-size: 60px;
font-weight: 700;
text-align: left;
}

.my-header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(54,52,56)100%);

}
.first-part-div{
    margin-left: 100px;
    padding: 2px 10px 2px 20px;
}
.fitness-image img{
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.smallbox-img{
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 4px;
}
.free{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;

}
.smallbox-img, .free{
    font-size: 20px;
    color: white;
    text-align: center;
}
.cir{
    display: flex;
    gap: 20px;
}
.circle{
    color: black;
    height: 30px;
    width: 30px;
    color: rgb(230, 83, 60);
    background: rgb(230, 83, 60);
    border-radius: 70%;
    display: inline-block;
    margin-top: 25px;
}
.top-right{
    top: 200px;
    right: 4px;
}
.bottom-left{
    bottom: 5px;
    left: 900px;
}

/* Main part styles */
.change-habit{
    color: rgb(255, 255, 255);
    text-align: center;
}
.habit-header-tag{
    font-size: 48px;
    font-weight: 900;
}
.we-believe{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Image-card styles */
.all-card-container{
    width: 50%;
    margin-left: 260px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.all-card-container img{
    border-radius: 50%;
}
/* Main 2nd Section */
.second-main-section{
    width: 60%;
    display: flex;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-left: 240px;
    margin-top: 30px;
    gap: 100px;
}
.run-extra-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    color: aliceblue;
}
.ms2-header-tag{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}
.ms2-paragraph-tag{
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-weight: 200;
}
.run-image-div img{
    width: 76%;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 10px;
}

/* Main 3rd section */
.main-3rd-1st-div{
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.thied-div-main{
    width: 50%;
    margin-left: 310px;
}
.six-image-card img{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.first-3-pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.second-3-pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.first-3-pic,.one,.first-para{
    position: relative;
    text-align: center;
    color: blue;
}
.first-3-pic, .one{
    width: 200px;
    height: 200px;   
    background-color: rgba(6, 255, 210, 0.5);
}

.first-3-pic, .two{
    width: 539px;
    height: 200px;    
    background: rgba(255, 0, 0, 0.3);
}
.first-3-pic, .three{
    width: 200px;
    height: 200px;    
    background: rgba(0, 0, 0, 0.5);
}
.second-3-pic, .four{
    width: 435px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
}
.second-3-pic, .five{
    width: 300px;
    height: 200px;    
    background: rgba(66, 255, 0, 0.3);
}
.second-3-pic, .six{
    width: 207px;
    height: 200px;    
    background: rgba(6, 255, 210, 0.5)
}

/* main fourth section */
.main-4th-section{
    width: 100%;
    color: aliceblue;
    
}
/* Table styles */
.calculator{
    text-align: center;
}
.bmi-1st-div{
    width: 50%;
    /* text-align: center; */
    margin-left: 420px;
    margin-top: 50px;
}
.bmi-2st-div{
    margin-left: 280px;
}
.bmi-header-tag{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    
}
.bmi-para-tag{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 250;
    text-align: left;
}
.bmi-header-tag2{
    text-align: center;
}
.table-div{
    background: rgb(34, 34, 34);
    width: 100%;
    display: flex;
    gap: 200px;


}


table{
    border: 1px solid rgba(255, 255, 255, 0.5);;
    width: 140%;
    border-collapse: collapse;
    margin: 0 auto;
    

}
th, td{
    /* color: rgba(255, 255, 255, 0.5); */
    border: 1px solid;
    padding: 15px;
    background: rgb(34, 34, 34);
    color: white;
}
td{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.first-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    gap: 30px;
}
.first-label{
    color: rgba(255, 255, 255, 0.5);
    border: none ;
    padding: 12px 80px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.second-label{
    color: rgba(255, 255, 255, 0.5);
    border: none ;
    padding: 12px 125px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.third-label{
    color: rgba(255, 255, 255, 0.5);
    width: 50%;
    margin-left:40px;
    border: none ;
    padding: 10px 20px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.second-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    margin-top: 14px;
    gap: 30px;
}
.third-form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.btn-bmi{
    width: 20%;
    color: rgb(255, 255, 255);
    padding: 8px 10px 8px 10px ;
    margin-top: 20px;
    margin-left: 150px;
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;

}

/* .calculator form{
    display:flex;
    flex-direction:column;
    align-items: center;

} */

/* footer part styles */
.total-div{
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 102;
    padding: 0px;
}
.total-div{
    border-bottom: 2px solid red;
    /* rgba(255, 255, 255, 0.1) */
    height: 400px;
}
.fit-div h2{
    font-size: 40px;
    font-weight: 600;
    /* color: rgb(255, 255, 255); */
}
.fit-div{
    width: 50%;
    height: 50px;
}

.get-started{
    width: 50%;
    display: flex;
    flex-direction: row;
    row-gap: 120px;
    
}
.started1{
    margin: 0px 152px;
}
.started1 h3{
    font-size: 30px;
    font-weight: 500;
    /* color: rgb(255, 255, 255); */
}
.started2 h3{
    font-size: 30px;
    font-weight: 500;
    /* color: rgb(255, 255, 255); */
}
.last-div{
    
    text-align: center;

}

